.header-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 45px;
    padding: 10px 50px 28px;
    flex-wrap: wrap;
    background-color: var(--paleDogwood);
    box-shadow: 0 -8px 15px 5px #000000;
}

.logo {
    flex: 50%;
    text-align: center;
}

.logo span {
    display: block;
    font-family: var(--robotoBody);
    font-size: 16px;
    line-height: 0;
}

.logo a, .logo a:hover {
    color: var(--oxfordBlue);
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li a {
    color: var(--oxfordBlue);
}

.menu li {
    border-bottom: 3px solid var(--paleDogwood);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-family: var(--bebasHead);
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}

.menu li:hover {
    background-color: var(--paleDogwood);
    border-bottom: 3px solid var(--oxfordBlue);
    cursor: pointer;
    transition: all 0.3s linear;
}

.menu li.active {
    border-bottom: 3px solid var(--oxfordBlue);
}

.footer-wrap {
    font-size: var(--fontSmall);
    padding: var(--spacing-unit);
}

.footer-wrap a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 376px) and (max-width: 1119px) {
      
    .logo {
        min-width: 300px;
    }

    .menu li {
        height: 6vh;
    }
}