/* variables */
:root {
    /* colors */
    --paleDogwood: #D5BDAF;
    --oxfordBlue: #001637;
    --timberwolf: #D6CCC2;
    --linen: #F5EBE0;

    /* fonts */
    --bebasHead: 'Bebas Neue', cursive;
    --robotoBody: 'Roboto', sans-serif;

    /* font size */
    --fontHuge: 4rem;
    --fontxLarge: 3rem;
    --fontLarge: 1.5rem;
    --fontDefault: 1rem;
    --fontSmall: 0.75rem;

    /* spacing */
    --spacing-unit: 1.5rem;
    --spacing-unit-small: 0.75rem;
    --spacing-unit-tiny: 0.375rem;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* element styles */ 
a {
    color: var(--oxfordBlue);
    text-decoration: none;
}

html, body {
    height: 100%;
}

body {
    color: var(--oxfordBlue);
    font-size: 16px;
    font-family: var(--robotoBody);
    min-width: 432px;
    min-height: 100vh;
    background-color: var(--linen);
}

button {
    background-color: var(--oxfordBlue);
    border-radius: 5px;
    border: none;
    color: var(--linen);
    cursor: pointer;
    padding: 10px 50px;
}

button:hover {
    background-color: var(--timberwolf);
    color: var(--oxfordBlue);
}

footer {
    background-color: var(--timberwolf);
    color: var(--oxfordBlue);
}

header {
    margin-bottom: 30px;
}

h1, h2, h3 {
    font-family: var(--bebasHead);
}

h1 {
    color: var(--oxfordBlue);
    display: inline-block;
    font-size: var(--fontHuge);
    line-height: 1em;
    margin: 0;
}

h2 {
    color: var(--oxfordBlue);
    font-size: var(--fontxLarge);
}

input, textarea {
    display: block;
    margin-bottom: 10px !important;
    width: 360px;
}

main {
    margin: 0 auto 30px;
    width: 1000px;
    min-height: calc(100vh - 285px);
}

main a {    
    border-bottom: 2px solid var(--paleDogwood);
    padding-bottom: 3px; 
}

main a:hover {
    border-bottom: 2px solid var(--paleDogwood);
    color: var(--paleDogwood);
}

nav {
    padding: 25px 0 5px;
    flex: 50% 1;
}

/* media queries */

@media screen and (min-width: 376px) and (max-width: 1119px) {
    
    main {
        width: 90%;
    }
}

@media screen and (min-width: 1120px) {

    .section-content {
        padding: 0 30px;
    }
}