.sample {
    border: 8px solid var(--paleDogwood);
    flex: 100%;
    margin: 0;
    position: relative;
}

.sample:not(:first-child) {
    flex: 47%;
}

.sample a, .sample a:hover {
    border: none;
    margin: 0;
}

.sample img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.sample figcaption {
    background-color: var(--paleDogwood);
    color: var(--oxfordBlue);
    font-weight: bold;
    padding: 15px;
    position: absolute;
    bottom: 30px;
    left: 0;
    text-transform: uppercase;
}

.work {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}